# 🌐 Environment files
**/.env

# 📦 Dependency folders
**/node_modules/

# 🏗️ Build output folders
**/dist/
dist-ssr/
*.local

# 🪵 Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 🧠 Editor & IDE settings
.vscode/*
!.vscode/extensions.json  # keep shared workspace config
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
