# 🌐 Environment files
.env
**/.env

# 📦 Dependency folders
node_modules/
**/node_modules/

# 🏗️ Build output folders
dist/
**/dist/
dist-ssr/
*.local

# 🪵 Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# 🧠 Editor & IDE settings
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
